connectionhook-elementary-b {
    --base-form-padding: 0.3em;
    --base-background-color: #c4e3f3;
    --base-border-color: #2f6fad;
    --base-border: solid thin var(--base-border-color);
    --base-label-color: #2f6fad;
    display: block;
    padding: var(--base-form-padding);
    border: var(--base-border);
    background: var(--base-background-color);
}
.separator{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: var(--base-border-color);
    border-style: solid none;
    border-bottom: none;
    border-width: 1px 0;
    margin: 10px 0;
}
label {
    font-weight: bold;
    color: var(--base-label-color);
}

.container {
    display: flex;
}

.container label {
    min-width: 4em;
    margin: 0.25em 0;
}

.item {
    margin: 0.25em 1em;
}