.container {
    display: flex;
}

.column {
    margin: 10px 5px ;
    padding: 10px 5px;
    border: solid thin lightgrey;
    background-color: #f3f3f3;
    flex-basis: auto;
    flex: 1;
}

.rows {
    flex-flow: column;
}

.columns {
    flex-direction: row;
}

.value {
    background-color: #595959;
    color: #FBFBFB;
    padding: 0 5px;
}

.collapse-link {
    text-decoration: none;
    font-weight: bold;
    color: #0059b3;
}

