<dom-module id="cif-test-obj-b-style">
    <tempate>
        <style>
            :host {
                display: block;
                padding: 0.3em;
                border: thin solid darkblue;
                width: 15em;
                background-color: lightblue;
            }

            label {
                margin-right: 0.5em;
                font-weight: bold;
                color: #550000;
                float: left;

            }

            label::after {
                content: ":";
            }

            article {
                height: 2em;
            }

            p {
                margin: 0;
                padding: 0;
            }

            header {
                margin: 0.8em 0 0.8em 0;
            }
        </style>
    </tempate>
</dom-module>
