.idea/

.DS_Store
*.seed
*.log

*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/

webpackages/*_build/
webpackages/*_pack/
webpackages/*_dist/
**/.tmp/

webpackages/**/test-results
.workspace
