outer-compound{
    display: block;
    border: solid thin #486684;
    padding: 1em;
    background-color: #9cb2c9;
}

outer-compound div {
    padding: 1em ;
}

[class*="col-"] {
    padding: 0 0.5em;
}

.row {
    margin: 0 -0.5em;
}
