
copy-value-test-compound {
    display: block;
    clear: both;
    position: relative;
    border: double thin #b9a78a;
    background-color: seashell;
    width: 33.5em;
}

copy-value-test-compound copy-value-test-a {
    float: left;
    display: inline-block;
    margin: 0.5em;

}

copy-value-test-compound copy-value-test-b {
    display: inline-block;
    margin: 0.5em;
}
