repeated-value-elementary-f {
    --base-form-padding: 0.3em;
    --base-border: none;
    --base-width: 20em;
    display: block;
    padding: var(--base-form-padding);
    border: var(--base-border);
    width: var(--base-width);
    height: auto !important; /* normale Browser */
    height: 100%; /* IE6: setzt dies wie min-height um*/
    min-height: 100%;
}

repeated-value-elementary-f label {
    margin-right: 0.3em;
    font-weight: bold;
    color: #2f6fad;
}

repeated-value-elementary-f input[type=text] {
    width: 12em;
}
