<dom-module is="cif-test-obj-a-style">
<template>
    <style>
        :host {
            display: block;
            padding: 0.3em;
            border: thin solid peru;
            width: 15em;
            background-color: papayawhip;
        }

        input[type=number] {
            width: 5em;
        }

        input[type=text] {
            width: 12em;
        }

        label {
            margin-right: 0.3em;
            font-weight: bold;
            color: #550000;
        }

        label::after {
            content: ":";
        }

        article {
            height: 2em;
        }

        header {
            margin: 0.8em 0 0.8em 0;
        }
    </style>
</template>
</dom-module>
