message-viewer {
    --message-viewer-form-padding: 0.3em;
    --message-viewer-width: 22em;
    --message-viewer-border: solid thin #0c75d2;
    --message-viewer-background-color: #ecf4ff;
    --message-viewer-margin: 2em;
    /*background-color: #ecf4ff;*/
    display: block;
    padding: var(--message-viewer-form-padding);
    width: var(--message-viewer-width);
    border: var(--message-viewer-border);
    background-color: var(--message-viewer-background-color);
    margin: var(--message-viewer-margin);
}

label {
    margin-right: 0.3em;
    font-weight: bold;
    color: #2f6fad;
}

.container {
    display: flex;
}

.item-1 {
    flex: 0 1 5em;
}
.item-2 {
    flex: 0 2 5em;
}