copy-value-test-compound-obj {
    display: block;
    clear: both;
    position: relative;
    border: double thin #b9a78a;
    background-color: seashell;
    width: 33.5em;
}

copy-value-test-compound-obj copy-value-test-obj-a {
    float: left;
    display: inline-block;
    margin: 0.5em;

}

copy-value-test-compound-obj copy-value-test-obj-b {
    display: inline-block;
    margin: 0.5em;
}
