
repeated-value-false-compound-c {
    display: block;
    position: relative;
    clear: left;
    border: solid thin #b9a78a;
    background-color: seashell;
    width: 35.5em;
    padding: 1em;
}

repeated-value-false-compound-c repeated-value-elementary-a:first-of-type {
    float: left;
    display: inline-block;


}

repeated-value-false-compound-c repeated-value-elementary-a:last-of-type {
    display: inline-block;
    margin-left: 2.5em;

}
