repeated-value-true-compound-g {
    display: block;
    clear: both;
    border: solid thin #b9a78a;
    background-color: seashell;
    /*width : 40.2em;*/
}

/*repeated-value-true-compound-g repeated-value-elementary-e {*/
    /*float: left;*/
    /*display:inline-block;*/
    /*margin : 0.5em;*/

/*}*/

/*repeated-value-true-compound-g repeated-value-elementary-f {*/
    /*display:inline-block;*/
    /*margin : 0.5em;*/
/*}*/
