message-box {
    --base-form-padding: 0.3em;
    display: block;
    padding: var(--base-form-padding);
    width: 15em;
    border: solid #b68316 thin;
    background-color: antiquewhite;
    margin: 5px;
}

message-box .message {
    text-align: center;
    padding: 10px;
}
