body {
    padding-top: 5px;
    padding-left: 5px;

}


.inner{
    width: 100px;
}
table.outer{
    border: none;
}
table.inner {
    border: solid thin black;
}
.inner td {
    border: solid thin black;
}
