bundeslaender-statistiks {
    display: block;
}
.content {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-around;
}
.item {
    flex-grow: 1;
    /*border: thin solid red;*/
}
