my-elementary-2 {
    --base-form-padding: 0.3em;
    display: block;
    padding: var(--base-form-padding);
}

.label {
    margin-right: 0.3em;
    font-weight: bold;
    color: #2f6fad;
}

input[type=text] {
    width: 12em;
}
