<!-- -->
<link rel="import" href="cif-test-b-style.html">
<dom-module id="cif-test-b" >

    <template>
        <style include="main-style"></style>
        <style include="cif-test-b-style"></style>
        <header>Komponente B</header>
        <section>
            <article>
                <label for="slot-a">slot-a</label>
                <p id="slot-a">{{model.a}}</p>
            </article>
            <article>
                <label for="slot-b">slot-b</label>
                <p id="slot-b">{{model.b}}</p>
            </article>
            <article>
                <label for="slot-c">slot-c</label>
                <p id="slot-c">{{model.c}}</p>
            </article>
            <article>
                <label for="slot-d">slot-d</label>
                <p id="slot-d">{{model.d}}</p>
            </article>
        </section>

    </template>

    <script src="cif-test-b.js"></script>

</dom-module>
