:host {
    display: block;
    clear: both;
    position:relative;
    border: double thin #b9a78a;
    background-color: seashell;
    width : 33.5em;
}

cif-test-compound-obj-5 cif-test-obj-a {
    float: left;
    display:inline-block;
    margin : 0.5em;

}

cif-test-compound-obj-5 cif-test-obj-b {
    display:inline-block;
    margin : 0.5em;
}
