test-compound-a {
    min-width: 200px;
    min-height: 100px;
    background-color: #bbae09;
    border: 1px solid #9c0900;
    color: #9c0900;
    text-align: center;
    padding: 20px;
    display: block;
}
